﻿@using Microsoft.AspNetCore.Components.Authorization
@rendermode InteractiveServer

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(Layout.MainLayout)">
                <NotAuthorized>
                    <p>Você não está autorizado. Por favor, <a href="/account/login">faça login</a>.</p>
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(Layout.MainLayout)">
                <p role="alert">Desculpe, não há nada aqui.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>